In [1]:
import pandas as pd

In [7]:
test = pd.read_csv('labour_accommodation_input.csv')
gfa_per_bed = 10
test['labour_beds_2022'] = test['labour_beds_2022'] * gfa_per_bed
test['labour_beds_2040'] = test['labour_beds_2040'] * gfa_per_bed
test['requirement'] = test['labour_beds_2040'] - test['labour_beds_2022'] 
test

,ZONE,District,labour_beds_2022,labour_beds_2040,requirement
0,1,AL SAADIYAT ISLAND,0,0.0,0.0
1,2,AL SAADIYAT ISLAND,0,0.0,0.0
2,3,AL SAADIYAT ISLAND,0,0.0,0.0
3,4,AL SAADIYAT ISLAND,0,0.0,0.0
4,5,AL SAADIYAT ISLAND,0,0.0,0.0
...,...,...,...,...,...
2438,3477,QIRQISHAN,0,0.0,0.0
2439,3478,ABU DHABI ISLANDS,0,0.0,0.0
2440,3479,AL MIHSINAH,0,0.0,0.0
2441,3480,ABU AL HABL ISLAND,0,0.0,0.0
2442,3481,BU NIYAYDAH,0,0.0,0.0

In [6]:

test.sum()

ZONE                                                          3956429
District            AL SAADIYAT ISLANDAL SAADIYAT ISLANDAL SAADIYA...
labour_beds_2022                                              4892530
labour_beds_2040                                        10657860.0001
requirement                                              5765330.0001
dtype: object